
.card{
    background-image: url("../../images/ludo.jpg");
    color: white;
    position: relative;
    transition: all 0.5s;
    height: 400px; 
    margin:40px 10px;
    border-radius: 6px;
}
.card:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.08);
}
.card__fix__block{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -55px;
}
.card__logo__name >span{
    font-weight: 800;
    color: white;
    padding: 0 20px;
}
.card__logo{
    margin: 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 180%;
    border: 1px solid white;
}
.card__logo__name{
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    background-color: var(--blue);
    border-radius: 0px 0px 10px 10px;
}

.card >h1{
    text-align: center; 
    margin-top:-18%;
}
.card__bottom{
    width: 100%;
    text-align: center;  
    display: flex;
    justify-self: center;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
}

.card__bottom__btn{
    background-color: var(--blue);
    width: fit-content;
    color: white;
    font-weight: 800;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
   font-size: 20px;
   margin: 0 auto;
}

@media screen and (max-width:992px){
    .card >h1{
        margin-top:-15%;
    }
}
@media screen and (max-width:500px){
    .card{
         height: 300px; 
         margin:40px 6px;
         border-radius: 6px;
     }
    .card >h1{
        font-size: 25px;
    }
    .card__bottom{
     font-size: small;
     position: absolute;
     bottom: 0px;
    }
    .card__bottom__btn{
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 6px;
       font-size: 15px;
    }
    .card__bottom >h4{
        font-size: 15px;
    }
}
@media screen and (max-width:379px)
{
    .card{
         margin:40px 5px;
     }
        .card__bottom__btn{
            font-weight: 800;
            padding: 5px 10px;
        }
}
