.games{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.games__btns{
display: flex;
flex-direction: row;
margin-bottom: 1rem;
text-align: center;
}
.games__btns >h3{
    flex: 0.33;
    margin: 0 10px;
    padding:15px 0;
    font-weight: 800;
    color: white;
    cursor: pointer;
    box-shadow:7px 7px 5px grey;
}
h3:nth-child(1){
background-color: #e65362;
}
h3:nth-child(2){
    background-color: #20c997;
}
h3:nth-child(3){
    background-color: #6610f2;
}

h3 >img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
.games__cards{
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin-top: 4rem;
}
@media screen and (max-width:992px)
{
    .games{
        width: 98%;
    }
    .games__cards{
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
}

@media screen and (max-width:379px)
{
    .games__btns{
        margin-top: 4rem;
        margin-bottom: 1rem;
        }
}
@media screen and (max-width:327px){
    .games__btns{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        }
        .games__btns >h3{
            flex: 0.33;
            font-size: 20px;
            margin: 0 2px;
            padding:5px 0;
            font-weight: 500;
            color: white;
            cursor: pointer;
        }
}
