
.quiz__block{
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    margin-bottom: 0%;
    background-color: rgba(0,0,0,0.8);
    padding:30px;
}
.quiz__block >h3,.answers{
    width: 37%;
    margin: 0 auto;
}
.quiz__block >h3{
    color: white;
    background-color: transparent;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 25px;
    transition:all 2s ease;
}
.start__btn{
    margin: 0 auto !important;
}
.answer__id{
display: flex;
margin-bottom: 10px;
align-items: center;
background-color: white;
}
.answer__id:hover{
    background-color: rgb(236, 192, 181);
    cursor: pointer;
}
.answer__id >p{
    margin:0;
    width: 100%;
    font-weight: 800;
    font-size: 28px;
}

.answer__id >span{
    color: white;
    font-weight: 700;
    background-color: var(--gray);
    font-size: 28px;
    width: 10%;
}
.footer__block{
    width: 80%;
    margin: 0 auto;
    background-color: var(--light);
    display: grid;
    grid-template-columns: repeat(5,auto);
    text-align: center;

}
.separate__footer__block{
    border: 1px solid gray;
}

.separate__footer__block >h2{
font-weight: 800;
}
.separate__footer__block >p{
    font-weight: 700;
    }

 .correct{
    background-color: green;
 }   
 .incorrect{
    background-color: red;
 }