
.quiz__block{
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    margin-bottom: 0%;
    background-color: rgba(0,0,0,0.8);
    padding:30px;
}
h3,.answers{
    width: 40%;
    margin: 0 auto;
}
.quiz__block >h3{
    color: white;
    background-color: transparent;
    font-weight: 500;
    margin-bottom: 20px;
}
.start__btn{
    margin: 0 auto !important;
}
.answers >p{
    background-color: white;
    margin:10px 0;
    padding:5px 0;
    color: black;
    font-weight: 800;
    text-align: left;
    font-size: 20px;
}
p>span{
    color: white;
    font-weight: 800;
    background-color: var(--gray);
    padding: 7px;
    margin-right: 30px;
}

.answers >p:hover{
    background-color: rgb(255, 231, 235);
    color: black;
    cursor: pointer;
}
.footer__block{
    width: 80%;
    margin: 0 auto;
    background-color: var(--light);
    display: grid;
    grid-template-columns: repeat(5,auto);
    text-align: center;

}
.separate__footer__block{
    border: 1px solid gray;
}

.separate__footer__block >h2{
font-weight: 800;
}
.separate__footer__block >p{
    font-weight: 700;
    }

 .correct{
    background-color: green;
 }   
 .incorrect{
    background-color: red;
 }