.footer{
    background-color: #f2f2f2;
    color: #212529;
    width: 100%;
    height: 100%;
}
.footer__title{
    color:#dc3545;
    font-weight: 800;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 5px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 85%;
    margin: 0 auto;
}
.footer-content span{
    display: block;
    line-height: 1.5rem;
}
.footer-content span:hover{
    color: #dc3545;
    cursor: pointer;
}
.footer-descr h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer-descr hr{
    margin-bottom: 1rem;
    width: 13rem;
    opacity: .2;
}

.footer__payments *{
  margin: 0;
}

.socials{
    margin: 10px 0;
    
}
.footer__social{
    cursor: pointer;
    margin-right:5px;
    font-size: 40px !important;
}
.customer__support{
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.payment__options >img{
    cursor: pointer;
    margin-right: 5px;
}
.copywrite{
    width: 85%;
    margin: 0 auto;
}
.copywrite >span{
    font-size: 13px;
}
.footer__bottom{
    background-color: #323031;  
}
.footer__bottom__content{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.left__section{
    display: flex;
    flex-direction: column;
    color: white;
}
.webmatters{
    margin-left: auto;
    height: 20px;
    width: 150px;
    margin-top: auto;
    margin-bottom: auto;
}


@media screen and (max-width:992px)
{
    .footer-content{
        display: grid;
        grid-template-columns: auto auto;
        width: 60%;
        margin: 0 auto;
    }
}
@media screen and (max-width:379px)
{
    .footer__bottom__content{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .footer-content{
        display: grid;
        grid-template-columns: auto auto;
        width: 95%;
        margin: 0 auto;
    }
}
@media screen and (max-width:500px)
{
    .footer__bottom__content{
        width: 90%;
        margin: 0 auto;
        display: flex;
    }
    .webmatters{
        width: 120px;
    }
    .left__section >img{
        width: 180px;
    }
    .footer-content{
        width: 85%;
        margin: 0 auto;
    }
}