
.home__content{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
}

.home__left{
    margin-top: auto;
}
.home__left__image{
    width: 100%;
    margin-top: auto;
    object-fit: contain;
}

.home__right{
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.home__right >h1{
    font-size: 30px;
    font-weight: 700;
}
.home__right >p{
    margin: 10px 0;
    font-size: 20px;
}


.home__top__btn{
    background-color: var(--blue);
    color: white;
    font-weight: 800;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: fit-content;
    font-size: 15px;
}
.home__top__btn:hover{
cursor: pointer;
background-color: white;
color: var(--blue);
}

.home__bottom{
    background: linear-gradient(#362550,#100029);
    color: white;
    text-align: center;
}
.money__won{
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.home__bottom >h1{
    color: var(--red);
    font-weight: 700;
    font-size: 35px;
}
.money__img{
    height: 60px;
}

.money__won >h2{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

@media screen and (max-width:993px){
    .home__content{
        height: 65vh;
        display: flex;
    }
    .home__right{
        width: 100%;
    }
   
    .home__bottom >h1{
        font-weight: 700;
        font-size: 30px;
    }
}
@media screen and (max-width:772px){
    .home__right{
        width: 100%;
    }
    .home__right >h1{
        font-size: 25px;
        font-weight: 700;
    }
    .home__right >p{
        margin: 5px 0;
        font-size: 20px;
    }
}
@media screen and (max-width:640px){
    .home__content{
        width: 95%;
        height: 50vh;
        margin: 0 auto;
    }
    .home__left{
        margin-top: auto;
        width:fit-content;
    }
    .home__left__image{
        width: 90%;
        margin-top: auto;
        object-fit: contain;
    }
    .home__right >h1{
        font-size: 22px;
        font-weight: 700;
    }
    .home__bottom >h1{
        font-size: 25px;
    }
    .money__won >h2{
        margin: 5px 0;
        font-size: 20px;
    }
}

@media screen and (max-width:500px){
    .home__content{
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
        height: 70vh;
        margin: 0 auto;
    }
    .home__right{
        text-align: center;
        margin-top: 10px;
    }
    .home__right >h1{
        font-size: 32px;
    }
    .home__right >p{
        font-size: 22px;
        font-weight: 400;
    }
    .home__bottom >h1{
        color: var(--red);
        font-weight: 900;
        font-size: 22px;
    }
    .home__top__btn{
        margin: auto auto;
    }
    .home__left{
       text-align: center;  
    }
    .home__left__image{
        width: 70%;
        height: 300px;
    }
   
}
