.partner__info{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    width: 85%;
    margin: 40px auto;
    height: 50%;
    box-shadow:0px 1px 5px 1px rgb(185, 185, 185);
}

 .info__left__block >img{
    width: 100%;
    height: 100%;
 }   
.info__right__block{
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
background-color: rgb(240, 240, 240);
}
.info__right__block >h1{
    font-weight: 900;
    color: black;
    opacity: 0.8;
}
.info__right__block >p{
    font-weight: 600;
    font-size: 20px;
}
.info__right__block >img{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 auto;
}
.info__right__block >button{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: var(--yellow);
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    box-shadow:0px 1px 5px 1px gray;
}
.info__right__block >h3{
    font-weight: 700;
}
